# Ejercicio 1: Valores nulos en el Titanic

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

#### Lee los datos del csv "titanic.csv" en un DataFrame llamado ``titanic_df`` y estudia sus característica. Usa los atributos/métodso ``columns``, ``describe()`` e intenta entender los datos con su descripción:

In [4]:
titanic = pd.read_csv("titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q







1.   **Survived:** indica si un pasajero sobrevivió o falleció (0 = Fallecido; 1 = Superviviente)
2.  **Pclass:** Clase socioeconómica (1 = Upper class; 2 = Middle class; 3 = Lower class)
3.   **Name:** Nombre del pasajero
4.  **Sex:** Género del pasajero
5.  **Age:** Edad del pasajero
6.  **SibSp:** Número de hermanos y cónyuges del pasajero a bordo
7.  **Parch:** Número de padres e hijos del pasajero a bordo
8.   **Ticket:** Número de ticket del pasajero
9.   **Fare:** Tarifa pagada por el pasajero
10. **Cabin** Número de cabina del pasajero
11. **Embarked:** Puerto de embarque del pasajero (C = Cherbourg; Q = Queenstown; S = Southampton)

#### Usa 2 métodos diferentes para obtener el número de conteos no nulos por columna

#### 3 columnas tienen valores nulos: Age, Cabin y Embarked

Calcula el porcentaje de nulos de cada columna numérica

### Columna Cabin

#### En función del porcentaje de nulos, ¿cuál crees que podría ser la mejor forma de aproximar esta columna?

#### Identifica los valores únicos de esta columna

### Columna Embarked

#### ¿De qué tipo es la columna Embarked? Obtén los valores únicos:

#### Cuenta el número de apariciones de cada valor. Después, obtén tambien el porcentaje de cada uno de ellos.

#### ¿Cuál sería la mejor aproximación para imputar los datos?

### Columna Age

#### Calcula el porcentaje de valores nulos en función de la clase socioeconómica sin tener en cuenta las filas con nulos

#### Calcula el porcentaje de supervivientes por rango de edad: 0-10, 11-20... (sin tener en cuenta las filas con nulos)

#### Construye un nuevo DataFrame con las columnas Age y Sex, y rellena los nulos de Age con 0

#### Dibuja un histograma para ver la distribución de la columna con los nuevos valores. ¿Crees que es una buena aproximación?

Para hacer el histograma, utiliza el método ``hist()`` sobre el ``Series`` que quieras representar.

#### Créate otro DataFrame con las columnas Age y Sex de nuevo, y usa una función lambda para rellenar los nulos de Age con la media de Age en función del género

#### Dibuja un histograma para ver la distribución de la columna con los nuevos valores. ¿Crees que es una buena aproximación?

#### Crea otro DataFrame como los anteriores pero, esta vez, usa una función lambda para rellenar los nulos de Age con la mediana de Age en función del género

#### Dibuja un histograma para ver la distribución de la columna con los nuevos valores. ¿Crees que es una buena aproximación?

### EXTRA: Repite estos métodos en función de otros campos diferentes a Sex (y que tengan sentido), como Pclass, SibSp, Parch...